
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 36.8px;
  color: rgb(109, 112, 141);
}

  
  .pricing-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #6d708d;
  }
  
  .pricing-header {
    margin-bottom: 40px;
  }
  
  .pricing-header h1 {
    font-size: 2rem;
    margin: 35px;
  }
  .check-button span{
    font-weight: 700;
    color:#b3b5c6 ;
  }
  
  .toggle-label {
    font-size: 1rem;
    margin-left: 10px;
    color: #7e7d7d;
  }
  
  #plan-toggle {
    transform: scale(1.5);
  }
  
  .pricing-cards {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    justify-content: center;
    align-items: center;
    
  }
  
  .card {
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    width: 40%;
    box-shadow: 0 1.5rem 1.5rem 0.5rem hsl(237 63% 64% / 0.1);
    text-align: center;
    font-weight: 700;
    transition: transform 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
  }
  .professional{
    background: linear-gradient(180deg,#9ba0ed, #7076df); 
    z-index: 30;
    padding: 35px;
    height: 450px;
    background-color:#9196ea;
    color: #fff;
  
  }
  .professional button{
    background-color: #fff;
    color: #9196ea;
   
  }

  #price-proe{
    color: #fff;

  }
  
  
  .card h4{
    font-size: 4rem;
    font-weight: 900;
    color: #494c5f;
    margin: 0 0 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  #price-pro{
    font-size: 4rem;
    font-weight: 900;
    color: #fff;
    margin: 0 0 20px 0;
  }
  small{
    font-size: 2.2rem;
    margin-right: 10px;
  }
  .check-button{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .check-button .container-button{
    width: 53px;
    height: 24px;
    border-radius: 50px;
    outline: none;
    border: 1px solid lightgray;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    background-color: ;
    box-shadow: 0 1.5rem 1.5rem 0.5rem hsl(237 63% 64% / 0.1);
    border: 6px solid  #8d91ec;
    background:  #8d91ec;
  }
  .check-button .button {
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    right: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  }
  
  .check-button .button.active {
    right: 28px; 

   
  }
  
  .card ul {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
  }
  
  .card ul li {
    font-size: 1rem;
    width: 280px;
    margin: 15px 0;
    border-top: 1px solid rgb(204, 204, 204);
    padding-top: 20px;
  }
  
  .btn {
    padding: 10px 90px;
    background: linear-gradient(90deg,#9ba0ed, #7076df); 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    transition: background 0.4s ease; 
}

.btn-pro{
  padding: 10px 90px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  background-color:#fff;
  color: #8d91ec;
  font-weight: 700;
}
.btn-pro:hover{

  border: 1px solid #fff;
  background: #8d91ec;
  color: #fff;
}

.btn:hover {
    border: 1px solid #a29be1;
    background: #fff;
    color: #a29be1;
    
}

  
  .bg-top{
    position: absolute;
    z-index: -10;
    right: 0;
    top: 0;
  }
  .bg-bottom{
    position: absolute;
    z-index: -10;
    bottom: 0;
    left: 0;
  }
  
  @media (max-width: 768px) {
    .pricing-cards {
      flex-direction: column;
      align-items: center;
    }
  
    .card {
      width: 80%;
      margin-bottom: 20px;
    }
  }